html
  head
    title= title
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/movies") Movies
          li
            a(href="/logout") Logout
    h1 Welcome!
