html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My App
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/movies') Movies
          li
            a(href='/add-movie') Add Movie
          li
            a(href='/register') Register
          li
            a(href='/login') Log in