h1= movie.name

p
  strong Description:
  br
  = movie.description

p
  strong Year:
  = movie.year

p
  strong Genres:
  = movie.genres

p
  strong Rating:
  = movie.rating

a(href='/movies') Back to all movies
